<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center" style="margin-left: auto !important;">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">YeChat</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">الرئيسية<br></a></li>
        <li><a href="#values">تنزيل</a></li>
        <li><a href="#about">من نحن</a></li>
        <li><a href="#contact">تواصل بنا</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted flex-md-shrink-0" href="#values">ابدأ</a>

  </div>
</header>

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">YeChat</h1>
          <p data-aos="fade-up" data-aos-delay="100" style="margin-bottom: 5px;">أُفُق جديد في عالم التراسل
          </p>
          <p data-aos="fade-up" data-aos-delay="100" style="font-size: 1rem;">تطبيق مراسلة للأجهزة المحمولة والحواسيب قائم على السحابة مع الاهتمام بالأمان والسرعة
          </p>
          <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
            <a href="#values" class="btn-get-started" style="font-size: 2rem;">ابدأ <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" style="text-align: left;">
          <img src="assets/img/ye_chat_No background-0١.png" class="img-fluid animated" style="max-width: 75%;"
               alt="">
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->



  <!-- Values Section -->
  <section id="values" class="values section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>تطبيقاتنا</h2>
      <p>قم بتنزيل النسخة المناسبة لك<br></p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <!-- کارت Android -->
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <img src="assets/img/android logo.png" class="img-fluid" alt="">
            <h3>Android</h3>
            <p><a href="https://dl.yechat.org/Android/yechat-2.1.apk" download class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                style="font-size: 2rem;" data-toggle="tooltip" data-placement="bottom" title="تنزيل"><i class="bi bi-download"></i></a></p>
          </div>
        </div><!-- End Card Item -->
    
        <!-- کارت Windows -->
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <img src="assets/img/windows logo.jpg" class="img-fluid" alt="">
            <h3>Windows</h3>
            <p><a href="https://dl.yechat.org/Windows/yechat-2.1.zip" download class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                style="font-size: 2rem;" data-toggle="tooltip" data-placement="bottom" title="تنزيل"><i class="bi bi-download"></i></a></p>
          </div>
        </div><!-- End Card Item -->
    
        <!-- کارت IOS -->
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <img src="assets/img/ios logo.webp" class="img-fluid" alt="">
            <h3>IOS</h3>
            <p>... Coming soon</p>
          </div>
        </div><!-- End Card Item -->
    
        <!-- کارت Web (جدید) -->
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="card">
            <img src="assets/img/web logo.png" class="img-fluid" alt="Web">
            <h3>Web</h3>
            <p><a href="https://web.yechat.org" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                  style="font-size: 2rem;" data-toggle="tooltip" data-placement="bottom" title="Visit Website"><i
                  class="bi bi-globe"></i></a></p>
          </div>
        </div><!-- End Card Item -->

      <!-- کارت online (جدید) -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card">
          <img src="assets/img/online_logo.png" class="img-fluid" alt="online yechat">
          <h3>online yechat</h3>
          <p><a href="https://online.yechat.org" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                style="font-size: 2rem;" data-toggle="tooltip" data-placement="bottom" title="Visit Website"><i
                class="bi bi-globe"></i></a></p>
        </div>
      </div><!-- End Card Item -->

      <!-- کارت online (جدید) -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card">
          <img src="assets/img/courses-log.png" class="img-fluid" alt="courses">
          <h3>courses</h3>
          <p><a href="https://courses.yechat.org" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                style="font-size: 2rem;" data-toggle="tooltip" data-placement="bottom" title="Visit Website"><i
                class="bi bi-globe"></i></a></p>
        </div>
      </div><!-- End Card Item -->


      </div>
    </div>
    
  </section><!-- /Values Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content" style="font-family: var(--bs-font-sans-serif) !important;">
            <h3 style="font-family: var(--bs-font-sans-serif) !important;">من نحن</h3>
            <h2>شركة YeChat هي شركة تقوم بتصميم وتطوير منصات التواصل الاجتماعي</h2>

          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/alt-features.png" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- /About Section -->


  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>التواصل</h2>
      <p>تواصل بنا</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-12">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>العنوان</h3>
                <p>اليمن، صنعاء</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>اتصل بنا</h3>
                <p dir="ltr" style="text-align: right">+967 779824117</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>الإيميل</h3>
                <p>ychat.ymail.ye</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>ساعات العمل</h3>
                <p>السبت - الخميس</p>
                <p >5:00PM - 09:00AM</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>



      </div>

    </div>

  </section><!-- /Contact Section -->

</main>

<footer id="footer" class="footer">



  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="d-flex align-items-center">
          <span class="sitename">YeChat</span>
        </a>
        <div class="footer-contact pt-3">
          <p>اليمن، صنعاء</p>
          <p>New York, NY 535022</p>
          <p class="mt-3"> <span dir="ltr" style="text-align: right">+967 779824117</span></p>
<!--          <p><strong>Email:</strong> <span>info@example.com</span></p>-->
        </div>
      </div>


    </div>

  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span> حقوق النشر </span>  <span>محفوظة لشركة</span> <strong class="px-1 sitename">YeChat</strong></p> {{year}}

  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
  class="bi bi-arrow-up-short"></i></a>
